{% load static %}
    
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
        <div class="container">
        <ul class="socialCol">
            {% comment %} <li><a href="javascript:void(0)"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
            <li><a href="javascript:void(0)"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li> {% endcomment %}
            <li><a href="https://github.com/lufemoal19" rel="noreferrer" target="_blank"><img src="{% static 'images/github.svg' %}" alt="GitHub Icon"></a></li>
            <li><a href="https://www.linkedin.com/in/felipe-morera-alvarez-20a898202/" rel="noreferrer" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt="Linkedin Icon"></a></li>
        </ul>
        <div class="copyrightCol">
            <p>Copyright ©2021 All rights reserved.</p>
            <!-- Designed by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a> -->
        </div>
        </div>
    </div>
    </footer>
    <!-- ================================
    End Footer
    ================================= -->